<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>433287989665-madm0ob44en2ass89qe1boq6nas86vsh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.433287989665-madm0ob44en2ass89qe1boq6nas86vsh</string>
	<key>API_KEY</key>
	<string>AIzaSyBQ-vPAxB8v1OpYMyfC05eVJ-2qeY-fKA0</string>
	<key>GCM_SENDER_ID</key>
	<string>433287989665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.forTwo.souls</string>
	<key>PROJECT_ID</key>
	<string>fortwosouls-6c36e</string>
	<key>STORAGE_BUCKET</key>
	<string>fortwosouls-6c36e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433287989665:ios:069afa99dd8fc919a663e0</string>
</dict>
</plist>